@import url('bootstrap.min.css');
@import url('animate.min.css');

body{
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 1);
  padding-top: 25px;
}

main{
  background-color: #fafafa;
  background-color: rgba(250, 250, 250, 1);
}

section,
.btn-show-more{
  padding-top: 50px;
  padding-bottom: 50px;
}

.heading{
  padding-top: 50px;
  padding-bottom: 100px;
}

aside.dropdown{
  margin-bottom: 50px;
}

aside.dropdown-no-header{
  margin-top: 50px;
  margin-bottom: 50px;
}

table{
  vertical-align: center;
}

header.main-header{
  margin-top: 100px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
  header.main-header{
    margin-top: 30px;
  }
} 

header.on-section{
  margin-top: 40px;
  margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6{
  margin-top: 0;
  margin-bottom: 10px;
}

a{
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

a:hover{
  color: rgba(0, 0, 0, 0.87);
}

p{
  margin: 0 0 20px;
}

.description{
  margin-top: 25px;
  margin-bottom: 25px;
}

/*Header */
.navbar-right{
  margin-right: 0;
}

.navbar-toggle{
  margin-top: 10px;
  color: #2f318d;
}

.logo-header{
  width: 125px;
}

@media only screen and (max-width: 768px) {
  .logo-header{
    width: 100px;
  }
} 

.flag{
  cursor: pointer;
  height: 20px;
  opacity: 1;
  filter: alpha(opacity=1);
  margin-left: -7.5px;
}

@media only screen and (max-width: 600px){
  .flag{
    margin-left: 0;
  }
}

.flag:hover,
.flag:focus{
  opacity: 0.8;
  filter: alpha(opacity=0.8);
  cursor: pointer;
}

.navbar{
  background-color: #fff !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row.nb-main ul.nav li a{
  padding-top: 0;
  font-weight: 600;
}

.row.nb-main ul.nav li a.blue{
  color: rgba(47, 49, 141, 1);
}

.row.nb-main ul.nav li a.blue:hover{
  color: rgba(47, 49, 141, 0.87);
}

.row.nb-main{
  margin-left: 0;
}

.row.nb-second{
  margin: -10px -15px 0 0;
}

.row.nb-second ul.nav li a{
  padding-bottom: 0;
  padding-left: 12px;
  font-size: 14px;
  font-weight: 300;
}

.navbar-collapse, .navbar-form{
  margin-top: 15px;
}

.nav-container{
  background-color: #fff;
}

/*Footer*/

.follow{
  margin-top: 27px;
  font-family: "Oleo Script";
}

.socmed-footer{
  opacity: 0.4;
}

.socmed-footer:hover,
.socmed-footer:focus{
  opacity: 1;
  cursor:pointer;
  text-decoration: none;
}

.socmed-footer img{
  width: 36px;
}

.footer-top{
  padding: 15px 7.5px 7.5px 7.5px;
}

.panel.footer-top{
  margin-bottom: 0;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.08);
  z-index: 1;
}

.footer-top h5{
  margin-top: 0;
}

.footer-bottom{
  border-top: 2px solid #d5d6e8;
  padding: 0;
  margin-bottom: -10px;
  margin-top: -15px;
}

.footer-bottom p{
  margin: 10px 0 10px 0;
}

.footer-bottom img{
  height: 18px;
}

.footer-left{
  float: left;
}

.footer-right{
  float: right;
}

/*footer*/

footer .footer-border:not(:last-child){
  border-right: 2px solid  #d5d6e8;
  margin-bottom: 20px;
}

@media only screen and (max-width: 478px) {
  .footer-left{
    float: none;
    text-align: center;
  }

  .footer-right{
    float: none;
    text-align: center;
  }
}

@media only screen and (max-width: 992px) {
  
  /*header*/
  .logo-header{
    margin-left: 5%;
    width: 120px;
    margin-top: 10px;
  }
}


@media only screen and (max-width: 768px) {

  /*footer*/
  footer .footer-border:not(:last-child){
    border-right: none;
    border-bottom: 2px solid  #d5d6e8;
  }
  footer .footer-border{
    border-right: none;
  }
}

a.footer-news-title h5{
  font-size: 18px;
  font-weight: 600;
}

a.footer-news-title{
  color: rgba(47, 49, 141, 0.87);
}

a.footer-news-title:hover{
  color: rgba(47, 49, 141, 1);
}

.news-date h6{
  font-size: 14px;
}

footer .contact{
  font-size: 16px;
}

footer .contact div,
footer .contact span{
  padding-left: 0;
}

footer .contact span,
footer div nav span{
  margin-top: 6px;
  margin-left: 0;
  padding: 0;
}

footer div.footer-nav span{
  padding-left: 0;
  margin-top: 15px;
}

.footer-content{
  display: block;
  height: 180px;
  box-shadow: none;
}

.footer-news-content{
  overflow-y: auto;
  height: 120px;
  display: block;
}

@media only screen and (max-width: 360px){
  .footer-news-content{
    height: 100px;
  }
}

.bg-white{
  background-color: #fff;
}

.bg-grey{
  background-color: #fafafa;
}

.news-date-footer{
  margin-bottom: 10px;
}

/* Font Spec Desktop */
@media only screen and (min-width: 800px) {

  h1{
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.87);
  }

  h2{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.87);
  }

  h3{
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.87);
  }

  h4{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.87);
  }
  
  p.lead{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }
  
  p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }
}

/* Font Spec Tablet */
@media only screen and (max-width: 800px) {
  h1{
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  h2{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  h3{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  h4{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  p.lead{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

}

/* Font Spec Phone */
@media only screen and (max-width: 768px) {

  h1{
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  h2{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  h3{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  h4{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  p.lead{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

}

.text-grey{
  color: rgba(0, 0, 0, 0.54);
}

.text-blue{
  color: rgba(47, 49, 141, 1);
}

.text-bold{
  font-weight: bold;
}

.img-cards{
  width: 100%;
  overflow: hidden;
}

a.link-card{
  text-decoration: none;
}

a.link-card:hover > .card{
  -webkit-box-shadow: 0 5px 8px 3px rgba(47, 49, 141, 0.24), 0 1px 15px 0 rgba(47, 49, 141, 0.12), 0 2px 4px -1px rgba(47, 49, 141, 0.2);
          box-shadow: 0 5px 8px 3px rgba(47, 49, 141, 0.24), 0 1px 15px 0 rgba(47, 49, 141, 0.12), 0 2px 4px -1px rgba(47, 49, 141, 0.2);
}

.panel.card{
  border-radius: 2px;
  border: 0;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  position: relative;
}

.panel.card:hover{
  -webkit-box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.24), 0 1px 15px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.24), 0 1px 15px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.panel.card .panel-body{
  padding-bottom: 5px;
}

.panel.card .panel-body.btn-panel{
  padding: 0;
  margin-right: -5px;
}

.panel-body .fixed-content-big{
  display: block;
  padding-top: 15px;
  height: 250px;
  overflow-y: auto;
}

.panel-body .fixed-content-small{
  display: block;
  height: 150px;
  overflow-y: auto;
}

.address{
  padding: 0px 15px 20px 15px;
  width: 100%;
}

.address .row{
  margin-top: 15px;
}

.address .icon,
.address .content{
  padding: 0;
}

a.card-btn{
  display: block;
  padding: 5px;
  background-color: transparent;
  color: #2F318D;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  border-radius: 2px;
  min-width: 88px;
  height: auto;
  text-align: center;
}

a.card-btn:hover,
a.card-btn:focus,
a.card-btn:active{
  background-color: rgba(47, 49, 141, 0.4);
  color: #2F318D;
}

a.blue-link{
  color: rgba(47, 49, 141, 1);
  font-weight: 600;
}

a.blue-link:hover,
a.blue-link:focus,
a.blue-link:active{
  color: rgba(47, 49, 141, 0.87);
}

.ghost-btn{
  padding: 7.5px;
  border: 2px solid #2F318D !important;
  border-radius: 3px;
  background-color: transparent;
  color: #2F318D;
  font-size: 14px;
  font-weight: 500;
  width: 140px;
}

.ghost-btn:hover{
  background-color: #2F318D;
  color: #FFF;
}

.btn{
  border: none;
  border-radius: 3px;
  position: relative;
  margin: 5px 1px;
  text-transform: uppercase;
  will-change: box-shadow, transform;
  -webkit-transition: -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
          transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
}

.btn-raised{
  padding: 10px 15px 10px 15px;
  background-color: #2F318D;
  color: #FFF !important;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  min-width: 88px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.btn-raised:hover,
.btn-raised:active{
  background-color: #0c0e5e;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.btn-raised:focus{
  background-color: #0c0e5e;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
}

.footer-ticket{
  margin-top: 12.5px;
  margin-left: -10px;
  font-size: 14px;
}

.card-detail{
  display: block;
  background-color: #fff;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
}

.card-detail article span{
  margin-bottom: 6px;
}

.card-detail .fixed-content{
  display: block;
  height: 275px;
  overflow-y: auto;
}

/* GALLERY */

.gallery img{
  opacity: 0.87;
  filter: alpha(opacity=0.87);
}

.gallery img:hover{
  opacity: 1;
  filter: alpha(opacity=1);
  cursor: pointer;
}

.image-popup{
  background-color: rgba(0, 0, 0, 0.87);
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  position: fixed;
  visibility: hidden;
  overflow-y: auto;
  padding: 30px 15px;
}

.image-caption{
  padding: 15px;
  display: block;
  background-color: rgba(255,255,255,1);
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

.image-caption h2{
  font-family: "Oleo Script";
}

.close-popup{
  color: rgba(255,0,0,1);
  font-size: 36px;
}

.close-popup:hover{
  color: rgba(255,0,0,0.4);
}

.visitors{
  margin-top: 13px;
}

/*= input focus effects css
=========================== */
:focus{outline: none;}

.col-effect{float: left; width: 95%; margin: 20px 3%; position: relative;} /* necessary to give position: relative to parent. */
input,textarea,select{font: 18px/28px "Open Sans", sans-serif;font-weight: 300 ; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
 
.effect-label{border: 0; padding: 4px 0; border-bottom: 1px solid #ccc; background-color: transparent;}

.effect-label ~ .focus-border{position: absolute; bottom: 0; left: 50%; width: 0; height: 2px; background-color: #2F318D; opacity: 0.6; transition: 0.4s;}
.effect-label:focus ~ .focus-border,
.has-content.effect-label ~ .focus-border{width: 100%; transition: 0.4s; left: 0;}
.effect-label ~ label{position: absolute; left: 0; width: auto; top: 9px; color: #aaa; transition: 0.3s; z-index: 1; letter-spacing: 0.5px;}
.effect-label:focus ~ label, .has-content.effect-label ~ label{top: -16px; font-size: 12px; color: #2F318D; transition: 0.3s;}
/*= input focus effects css End
=============================== */
article.travel figure img, article.hotel figure img, article.merchants figure img, article.outlet figure img{
  min-height: 210px;
}

@media only screen and (min-width: 768px) {
  article.travel figure img, article.hotel figure img, article.merchants figure img, article.outlet figure img{
    max-height: 210px;
  }
}