.risize{
	resize:vertical;
}
table tr th{
	text-align: center;
}

.pd-l{
	padding-left: 0;
}
.pd-r{
	padding-right: 0;
}

.btn-reset{
	padding: 5px 10px 5px 10px !important;
	font-size: 12px;
	font-weight: 300 !important;
	min-width: 88px;
}